html {
    font-size: 22px;
}

body {
    background-color: #2e3236;
    background-image: url("cat.jpg");
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: dodgerblue;
    border: #2e3236;
    border-color: dodgerblue;
    font-style: italic;
    text-align: center;
}

h2 {
    color: dodgerblue;
    text-align: center;
}

h3 {
    color: dodgerblue;
    text-align: center;
}