.youtube-title {
    font-family: arial;
}

.search-bar {
    border-radius: 12px;
    padding-left: 8px;
    margin-left: 20px;
}

.thumbnail {
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: red;
    transition: border-radius 0.15s;
}

.thumbnail:hover {
    border-radius: 50px;
}